@model DAL.Entities.Production.Product



<div>
    <div>@Model.Name</div>
    <div>@Model.ProductNumber</div>
    <div>@Model.MakeFlag</div>
    <div>@Model.FinishedGoodsFlag</div>
    <div>@Model.Color</div>
    <div>@Model.SafetyStockLevel</div>
    <div>@Model.ReorderPoint</div>
    <div>@Model.StandardCost</div>
    <div>@Model.ListPrice</div>
    <div>@Model.Size</div>
</div>