@model MyFirstCoreWeb.Models.EmployeeViewModels.EmployeeDetailViewModel
<div class="form-group">
    <label asp-for="BusinessEntityID" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <label class="col-md-10 control-label">@Model.BusinessEntityID</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="NationalIDNumber" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <label class="col-md-10 control-label">@Model.NationalIDNumber</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="LoginID" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <label class="col-md-10 control-label">@Model.LoginID</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="JobTitle" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <label class="col-md-10 control-label">@Model.JobTitle</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="BirthDate" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <label class="col-md-10 control-label">@Model.BirthDate</label>
    </div>
</div>
<div class="form-group">
    <label asp-for="MaritalStatus" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <label class="col-md-10 control-label">@Model.MaritalStatus</label>
    </div>
</div>

